#please delete application.yml.example extention to have it as 'application.yml"

development:
  SUPER_SECRET_KEY: 'LLAVE AQIO'
  SUPER_SECRET_ID: 'ID_FALSO'
  
   spotify_client_id: aaabbbbaaaaabbbbb
   spotify_client_secret: aaaaabbbbbaaaaabbbb
